@charset "utf-8";
body {
	font-family: "맑은 고딕";
	font-size: 6pt;
	line-height: 150%;
	background-color: #FFF;
	margin: 0px;
}
#wrap {
	width: 100%;
	height:auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.main_box {
	float: left;
	height: 100%;
	width: 70%;
	margin-top: 2%;
	margin-right: 20%;
	margin-bottom: 2%;
	margin-left: 10%;
}
.main_banner {
	float: left;
	height: auto%;
	width: 14%;
	text-align: center;
	background-color:#FFF;
	position:fixed;
}
.main_menu {
	float: left;
	height: auto;
	width: 100%;
	margin-bottom: 5%
}
.main_category {
	float: left;
	height: auto;
	width: 100%;
	text-align: center;
	margin-bottom: 5%
}
.main_notice {
	float: left;
	height: auto;
	width: 100%;
	margin-bottom: 5%
}
.logo {
	float: left;
	height: 100%;
	width: 100%;
	margin-bottom: 5%
}
.main_page {
	height: 100%;
	width: 80%;
	float: left;
	margin-left: 20%
}
.main_banner .main_menu p {
	font-size: 7pt;
	float: left;
	line-height: 70%;
}
.main_banner .main_category table {
	width: 100%;
	text-align: center;
}
.main_box .main_banner .main_notice p {
	font-weight: bold;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #769FD2;
	text-decoration: none;
}
a:active {
	color: #769FD2;
	text-decoration: none;
}
.main_product {
	float: left;
	height: auto%;
	width: 45%;
	text-align: center;
	padding-left:10%;
	padding-right:5%;
}
.main_order {
	float: left;
	height: auto;
	width: 35%;
	text-align: left;
	font-size:12px
}
.main_pro {
	float: left;
	height: 100%;
	width: 100%;
	color:#555;
}

.main_footer {
	margin-top: 5%;
	margin-bottom: 5%;
	float: left;
	width: 100%;
}
.main_footer table tr th {
	text-align: left;
}
.main_order #form1 p {
	font-size: 16px;
	font-weight: bold;
}
#buy, #cart{
	font-family: "맑은 고딕";
	font-size: 6pt;
	font-weight:bold;
	border: 1px solid #999;
	height: auto;
	width: 100%;
	padding: 3%;
	padding-right: 3%;
	padding-left: 3%;
	background-color:#FFF;
	margin-top: 2%;
}

.main_order #form1 #buy {
	color: #FFF;
	background-color: #999;
}
.main_order #form1 table tr td #productColor, #productAmount {
	width: 100%;
}
.pro_description {
	float: left;
	height: 100%;
	width: 80%;
	text-align: center;
	color: #555;
	margin-top: 5%;
	margin-left: 15%;
	border: 1px solid #999;
}
